
.svg{
    border: 2px solid black;
}
#tooltip {
   
    position: absolute;
    text-align: center;
    margin: 30px;
    padding: 10px;
    font: 12px;
    background-color: rgb(125, 121, 121);
    opacity: 0.7;
    border: 2px black solid;
    
}